/*  your css code here. If applicable */
.main{
	background-color: #f5f5f5;
	padding: 20px;
	font-size:10px;
}
.author{
	background-color:white;
	margin:10px;
}
p.sel{
	text-align:right;
	font-style:italic;
}
